/* prettier-ignore */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  /* define color scheme */
  --grey1:      #f8f8fa;
  --grey2:      #e5e6eb;
  --grey3:      #d2d4dc;
  --grey4:      #c0c2ce;
  --grey5:      #afafaf;
  /* define item hue color */
  --blue:       #5bc0eb;
  --yellow:     #fde74c;
  --green:      #9bc53d;
  --red:        #e55934;
  --orange:     #fa7921;
  /* define item pastell color */
  --p-blue:     #a8e6cf;
  --p-green:    #dcedc1;
  --p-orange:   #ffd3b6;
  --p-magenta:  #ffaaa5;
  --p-red:      #ff8b94;
}

body {
  background: url('./res/email-pattern.png');
  background-repeat: repeat;
  font-family: "Raleway";
  font-size: 24px;
  color: #36454F;
  text-align: center;
}

h1 {
  /* color: var(--p-magenta); */
}

input {
  font-family: "Raleway";
  font-size: 24px;
}

input:focus {
  outline-offset: 0;
  outline: none;
}

.mainpane {
  width: 768px;
  height: auto;
  margin: auto;
  padding: 10px 0 10px 0;
  background-image: linear-gradient(180deg, var(--grey2) , var(--grey4));
  box-shadow: 0 5px 10px 5px hsl(0, 0%, 70%);
}

.inputwrapper {
  padding: 5px 20px 5px 20px;
  margin: 0 10px 0 0;
}

/* TODO: remove redundency */
.newtodo {
  width: 100%;
  padding: 8px 4px 8px 4px;
  margin: 6px 0 6px 0;
  background-color: var(--grey1);
  border-style: solid;
  border-width: 1px;
  border-color: var(--grey5);
  border-radius: 5px;
}

.itempane {
  padding: 5px 20px 5px 20px;
}

.todoitem {
  position: relative;
  text-align: justify;
  list-style-type: none;
  padding: 8px 4px 8px 4px;
  margin: 6px 0 6px 0;
  background-color: var(--grey1);
  border-style: solid;
  border-width: 1px;
  border-color: var(--grey5);
  border-radius: 5px;
}

.delete {
  display: inline;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  border-style: none;
}

.delete:focus {
  outline: none;
}

footer {
  margin: 20px 0 0 0;
  font-size: 12px;
}

/* media queries */
/* phones and tablets */
@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 5vw;
  }
  .mainpane {
    width: 100%;
  }
}

/* laptops and desktops */
@media only screen and (min-width: 769px) {
  h1 {
    font-size: 39px;
  }
  .mainpane {
    width: 700px;
  }
}
