/* prettier-ignore */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  /* main text color */
  --main:         #36454f;
   ;
  /* define color scheme */
  --grey1:        #f8f8fa;
  --grey2:        #e5e6eb;
  --grey3:        #d2d4dc;
  --grey4:        #c0c2ce;
  --grey5:        #afafaf;
  /* transparent */
  --t-grey1:      #f8f8fa88;
  --t-grey2:      #e5e6eb88;
  --t-grey3:      #d2d4dc88;
  --t-grey4:      #c0c2ce88;
  --t-grey5:      #afafaf88;
  /* define item hue color */
  --blue:         #5bc0eb;
  --yellow:       #fde74c;
  --green:        #9bc53d;
  --red:          #e55934;
  --orange:       #fa7921;
  /* define item pastell color */
  --p-blue:       #a8e6cf;
  --p-green:      #dcedc1;
  --p-orange:     #ffd3b6;
  --p-magenta:    #ffaaa5;
  --p-red:        #ff8b94;
}

body {
  background: url('./res/email-pattern.png');
  background-repeat: repeat;
  font-family: "Open Sans";
  font-size: 24px;
  color: var(--main);
  text-align: center;
}

h1 {
  /* color: var(--p-magenta); */
  cursor: default;
}

input:focus {
  outline-offset: 0;
  outline: none;
}

.mainpane {
  width: 768px;
  height: auto;
  margin: auto;
  padding: 10px 0 10px 0;
  background-image: linear-gradient(180deg, var(--t-grey1), var(--t-grey4));
  box-shadow: 0 5px 10px 5px hsl(0, 0%, 75%);
}

.newtodo {
  width: 90%;
  padding: 8px 6px;
  margin: 6px auto 6px auto;
  background-color: var(--grey1);
  border-style: solid;
  border-width: 1px;
  border-color: var(--grey5);
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 24px;
  cursor: text;
  box-shadow: 0 2px 4px 2px hsl(0, 0%, 77%);
  display: block;
}

::placeholder {
  opacity: 0.8;
  color: var(--grey5);
}

.itempane {
  padding-inline-start: 0;
  list-style-type: none;
}

.todoitem {
  position: relative;
  text-align: justify;
  list-style-type: none;
  padding: 8px 6px 8px 6px;
  margin: 8px auto 8px auto;
  background-color: var(--grey1);
  border-style: solid;
  border-width: 1px;
  border-color: var(--grey5);
  border-radius: 5px;
  transition: 0.4s;
  word-break: break-all;
  box-shadow: 0 2px 4px 2px hsl(0, 0%, 77%);
  display: block;
  width: 90%;
}

.itemlabel {
  padding: 0 25px 0 30px;
  line-height: 1.4;
  display: block;
  width: 100%;
  min-height: 25px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.checkitem {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 7px;
  cursor: pointer;
}

.delete {
  display: inline;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-style: none;
  cursor: pointer;
}

.delete:focus {
  outline: none;
}

.delete:hover {
  color: var(--grey5);
  background-color: transparent;
  transition: 0.25s;
}

.options {
  height: 20px;
  position: relative;
}

.options.open {
  animation-name: expand-option-pane;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.options.closed {
  animation-name: retract-option-pane;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes expand-option-pane {
  0% { height: 20px }
  100% { height: 80px }
}

@keyframes retract-option-pane {
  0% { height: 80px }
  100% { height: 20px }
}

.options-toggle {
  position: absolute;
  top: 3px;
  left: 20px;
  -webkit-appearance: none;
  border: solid var(--grey4);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.options-toggle.open {
  animation-name: turn-arrow-down;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.options-toggle.closed {
  animation-name: turn-arrow-right;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes turn-arrow-down {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

@keyframes turn-arrow-right {
  0% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.options-selection {
  position: absolute;
  top: 35px;
  /* width: 100%; */
  padding: 0 5%;
  height: 100px;
}

.options-selection.open {
  animation-name: expand-option-selection;
  animation-duration: 0.7s;
  /* animation-timing-function: ease; */
  animation-fill-mode: forwards;
}

.options-selection.closed {
  animation-name: retract-option-selection;
  animation-duration: 0.7s;
  /* animation-timing-function: ease; */
  animation-fill-mode: forwards;
}

@keyframes expand-option-selection {
  0% {
    opacity: 0;
    height: 0%;
  }
  38% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 40%;
  }
}

@keyframes retract-option-selection {
  0% {
    opacity: 1;
    height: 40%;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}

.button {
  -webkit-appearance: none;
  margin: 0 10px;
  padding: 2px 6px;
  height: 100%;
  cursor: pointer;
  font: 400 14px "Open Sans";
  border-style: solid;
  border-radius: 5px;
  border-image: none;
  transition: 0.2s;
  box-shadow: 0 2px 5px 1px hsl(0, 0%, 70%);
}

.colorpicker-button {
  float: right;
  margin: 0 5% 0 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  box-shadow: none;
  /* color: black !important; */
  /* background-color: black !important; */
}

.options-button {
  visibility: hidden;
  color: var(--main);
  background-color: var(--grey2);
  border-color: var(--grey3);
  box-shadow: 0 1px 3px 1px hsl(0, 0%, 80%);
}

.options-button:hover {
  background-color: var(--grey1);
  border-color: var(--grey2);
}

button:focus {
  outline:0;
}

button::-moz-focus-inner {
  border: 0;
}

.options-button.open {
  animation-name: show-button;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.options-button.closed {
  animation-name: hide-button;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes show-button {
  0% {
    visibility: hidden;
  }
  39% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes hide-button {
  0% {
    visibility: visible;
  }
  26% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.twitter-picker {
  z-index: 1;
  position: absolute;
  top: 34px;
  right: 251px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.twitter-picker.open {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

footer {
  cursor: default;
}

.mainfooter {
  margin: 30px 0 0 0;
  font-size: 12px;
}

.itemfooter {
  font-size: 12px;
  height: 32px;
  margin: 0 0 0 5%;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* media queries */
/* phones and tablets */
@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 5vw;
  }
  .mainpane {
    width: 100%;
  }
}

/* laptops and desktops */
@media only screen and (min-width: 769px) {
  h1 {
    font-size: 39px;
  }
  .mainpane {
    width: 700px;
  }
}
