.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TODOList {
  background-color: #283242;
  height: 800px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Entry {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #cad0db;
  color: black;
  font-size: 20px;
  text-align: center;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NewEntry {
  margin-left: auto;
  margin-top: auto;
  font-size: 20px;
  border-radius: 10px;
  height: 30px;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.DelEntry {
  font-size: 17px;
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  height: 30px;
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.EntryWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
}

input {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: '';
}
